html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end ;
    list-style: none;
    background: white;
    border-bottom: 1px solid black;   
}
.nav a{
    color: blue;
    font-weight: bolder;
    text-decoration: none;
    padding: 1em;
    display: block;
    

}
.nav a:hover{
    color: aliceblue;
    background: brown;
}
@media all and (max-width: 800px){
    .nav{
        justify-content: space-around;
    }
}
@media all and (max-width: 600px){
    .nav{
        flex-flow: column wrap;
        padding: 0;
    }
    .nav a{
        text-align: center;
        border-bottom: 3px solid black;  
        border-top: 3px solid black;  
    }
    .nav li:last-of-type a{
        border-bottom: none;
    }
}
.content{
 text-align: center;
 font-weight: bold;
 font-size: 20px;
 color: red;
 text-transform: uppercase;
 background: pink;
}